# Data Science Tools and Ecosystem

***In this notebook, Data Science Tools and Ecosystem are summarized***
**Objetivos:**

 * Some of the popular languages that Data Scientists
 * Some of the commonly used libraries used by Data Scientists include
 * evaluating arithmetic expressions in Python

**Some of the popular languages that Data Scientists use are:**
1. python
2. R
3. SQL

**Some of the commonly used libraries used by Data Scientists include:**
1. NumPy
2. Pandas
3. Matplotlib

| Data Science Tools |
----------------------
|Cuadernos Jupyter|
|RStudio |
|Spyder|

**Below are a few examples of evaluating arithmetic expressions in Python:**

In [1]:
(3*4)+5

17

In [2]:
#***This will convert 200 minutes to hours by diving by 60***#

200/60

3.3333333333333335

***Author:*** 
## Martin Nicol√°s Rosas Linares :)